

.header-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    justify-content: end;
}

.main-background {
    width: 100%;
    background-image: "img.png"
}